<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/credit_card.png" width="150px" class="user-avatar" />
            <h1>Pay Mobile Login</h1>
            <form #loginForm role="form" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control input-underline input-lg" [(ngModel)]="loginData.email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="pass" class="form-control input-underline input-lg" [(ngModel)]="loginData.password" placeholder="Password" required>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="up(loginForm)"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
